# Ignore everything in the root
/*
/dispatcher/*
/apiserver/*
/apiserver/.env
/reverse_proxy/*
/dispatcher/tests/__pycache__
/apiserver/tests/__pycache__
#/dispatcher/tests/__pycache__/*
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!dispatcher/
!dispatcher/__init__.py
!dispatcher/admin.py
!dispatcher/apps.py
!dispatcher/models.py
!dispatcher/responder.py
!dispatcher/serializers.py
!dispatcher/celery.py
!dispatcher/tasks.py
!dispatcher/tests/tests_models.py
!dispatcher/tests/tests_paths.py
!dispatcher/tests/__init__.py
!dispatcher/urls.py
!dispatcher/views.py
!.gitignore
!apiserver/
!apiserver/.env.example
!apiserver/__init__.py
!apiserver/README.md
!apiserver/urls.py
!apiserver/validators.py
!apiserver/wsgi.py
!apiserver/tests/tests_paths.py
!apiserver/tests/__init__.py
!requirements.txt
!apiserver/schemas/
!apiserver/schemas/*
