# Ignore everything in the root
/*
/dispatcher/*
/apiserver/*
/apiserver/.env
/reverse_proxy/*
/dispatcher/tests/__pycache__
/apiserver/tests/__pycache__
/dispatcher/migrations/__pycache__
#/dispatcher/tests/__pycache__/*
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!reverse_proxy/
!reverse_proxy/__init__.py
!reverse_proxy/connection.py
!reverse_proxy/microservice.py
!reverse_proxy/response.py
!reverse_proxy/exceptions.py
!reverse_proxy/transformer.py
!reverse_proxy/utils.py
!reverse_proxy/views.py
!dispatcher/
!dispatcher/__init__.py
!dispatcher/admin.py
!dispatcher/apps.py
!dispatcher/models.py
!dispatcher/responder.py
!dispatcher/serializers.py
!dispatcher/celery.py
!dispatcher/tasks.py
!dispatcher/tests/tests_models.py
!dispatcher/tests/tests_paths.py
!dispatcher/tests/__init__.py
!dispatcher/urls.py
!dispatcher/views.py
!dispatcher/migrations/
!dispatcher/migrations/__init__.py
!.gitignore
!manage.py
!Dockerfile
!run_app.sh
!docker-compose.yml
!apiserver/
!apiserver/.env.example
!apiserver/settings.py
!apiserver/__init__.py
!README.md
!apiserver/urls.py
!apiserver/views.py
!apiserver/authentication.py
!apiserver/assertions.py
!apiserver/validators.py
!apiserver/wsgi.py
!apiserver/tests/tests_paths.py
!apiserver/tests/__init__.py
!apiserver/tests/.coveragerc
!requirements.txt
!apiserver/schemas/
!apiserver/schemas/*
