amqp
asn1crypto
attrs
billiard
certifi
cffi
chardet
coverage
cryptography
Django
django-extensions
django-filter
django-multiselectfield
django-nose
djangorestframework
gunicorn
httpretty
idna
jsonpointer
jsonschema
kombu
Markdown
nose
psycopg2-binary
pycparser
pyOpenSSL
pyrsistent
python-dotenv
pytz
redis
requests
rfc3987
six
sqlparse
strict-rfc3339
urllib3
vine
webcolors
Werkzeug
