# -----------------------------------------------------------------------------
# configuration file for pytest coverage
# -----------------------------------------------------------------------------

[report]
exclude_lines =
    pragma: no cover
    def __repr__

[run]
omit =
    reverse_proxy/*
    /home/clive/apiserver/django-revproxy/revproxy/*
